@mixin icon-box($size,$img) {
  width: $size;
  height: $size;
  display: inline-block;
  background-image: url($img);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@mixin img-size() {
  width: 100%;
  height: 100%;
}

@mixin dis_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show {
  visibility: visible !important;
}

* {
  font-family: '微软雅黑', 'Microsoft YaHei';
}

ul, li {
  list-style-type: none;
}
/*字体中等粗*/
.txt-m-weight {
  font-weight: 700;
}

.fa.fa-active {
  color: #51AA38;
}

.index1 .weui-swiped-btn {
  display: flex;
  align-items: center;
}

.index1 .weui-cell {
  padding: 0;
}

.index1 .weui-media-box {
  padding: 5px 15px;
}

.index1 .weui-search-bar__box .weui-search-bar__input, .index2 .weui-search-bar__box .weui-search-bar__input, .weui-search-bar__label {
  height: 1.3rem;
  line-height: 1.5rem;
}

.index1 .weui-search-bar.weui-search-bar_focusing {
  display: flex;
  align-items: center;
}

.index1 .weui-search-bar__box .weui-icon-search {
  line-height: 38px;
}

.index2 .weui-cells, .index3 .weui-cells, .index4 .weui-cells {
  margin-top: 0;
}

.index2 .fa, .index3 .fa, .index4 .fa {
  width: 1.5rem;
  color: #EDA150
}

.index2 {
  margin-bottom: 53px;
  background-color: #efeff4;
}

.lists-item {  }

.weui-tabbar {
  position: fixed;
}

.letter-lists {
  position: absolute;
  right: 1%;
  top: 30%;
  position: fixed;
  /* list-style: none; */
  list-style-type: none;
}

.index3, .index3 .weui-cells, .index4 .weui-cells, .index4 {
  background-color: #efeff4;
}

.index3 .weui-cell, .index4 .weui-cell {
  margin-bottom: .3rem;
  background-color: #fff;
}

/*
朋友圈页面样式
 */
.circle-container {
  .g-cicle-top {
    .g-img-box {
      position: relative;
      height: 10rem;
      img {
        @include img-size;
      }
      .g-head-box {
        display: inline-block;
        position: absolute;
        right: 1rem;
        bottom: -.5rem;
        width: 3rem;
        height: 3rem;
        img {
          @include img-size;
          padding: 1px;
          background: #fff;
          border: 1px solid #ddd;
          box-shadow: 2px 2px 3px #00000078;
        }
        .g-txt-head {
          display: inline-block;
          position: absolute;
          right: 3.5rem;
          top: .5rem;
          width: 2rem;
          font-size: .8rem;
          color: #fff;
          font-style: normal;
        }
      }
    }
  }

  .g-m-content {
    margin-top: 3rem;
    .g-list-box {
      margin-top: 1rem;
      padding: 0 1rem .5rem;
      border-bottom: 1px solid #ddd;
      overflow: hidden;
      .g-l-head {
        display: inline-block;
        left: 2rem;
        top: 2rem;
        width: 2rem;
        height: 2rem;
        img {
          @include img-size;
        }
      }
      .g-r-box {
        display: inline-block;
        float: right;
        width: 85%;
        .g-t-nickname {
          color: #5B6A92;
          font-weight: bold;
        }
        .g-b-time {
          display: flex;
          align-items: center;
          position: relative;
          font-size: .6rem;
          color: #727272;
          .icon-comment {
            display: inline-block;
            position: absolute;
            right: 0;
            width: 1.3rem;
            height: 1.3rem;
            background-image: url("../images/comments.svg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
          }
        }
        .u-mask {
          visibility: hidden;
          display: flex;
          align-items: center;
          justify-content: space-around;
          background-color: #4D5153;
          color: #fff;
          width: 50%;
          position: absolute;
          right: 1.3rem;
          padding: .35rem;
          border-radius: 5px;
          .s-separate {
            font-style: normal;
            color: #383D3F;
          }
          span {
            @include dis_flex;
            width: 3rem;
          }
          .icon-good {
            @include icon-box(.9rem, "../images/good.svg");
            padding-right: .4rem;
          }
          .icon-comment2 {
            @include icon-box(.9rem, "../images/comment2.svg");
            padding-right: .4rem;
          }
        }

        .goods-lists {
          margin-top: .3rem;
          //padding: .1rem .2rem;
          overflow-x: hidden;
          color: #5B6A92;
          background-color: #F3F3F5;
          span {
            @include dis_flex;
            float: left;
            padding: 0 .1rem 0 0;
          }
          .icon-good {
            @include icon-box(.9rem, "../images/good-01.svg");
            padding-right: .4rem;
          }
        }

        .comments-lists {
          //padding-top: .1rem;
          padding-left: .2rem;
          //border-top: 1px solid #DDDEDF;
          overflow-x: hidden;
          color: #5B6A92;
          background-color: #F3F3F5;
        }

        .g-m-paragraph {
          border: 1px solid green;
        }
      }
    }
  }
}